<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Registration</title>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- custom CSS and JS -->
    <link rel="stylesheet" href="css/form.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form th:method="POST" th:action="@{/adding_user}" th:object="${user}">
                <input type="text" th:field="*{firstName}" autocomplete="new-first name" placeholder="first name"
                    required minlength="2" maxlength="20" />
                <input type="text" th:field="*{lastName}" autocomplete="new-last name" placeholder="last name" required
                    minlength="2" maxlength="20" />
                <input type="email" th:field="*{email}" autocomplete="new-email address" placeholder="email address"
                    required />
                <input type="password" th:field="*{password}" autocomplete="new-password" placeholder="password"
                    required />
                <button type="submit">create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>
</body>

</html>